<!DOCTYPE HTML>
<html>

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/nav %>
  <table class="table">
    <tbody>
      <tr>
        <td>Username</td>
        <td>jdoe</td>
      </tr>
      <tr>
        <td>First Name</td>
        <td>John</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>Doe</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>jdoe@gmail.com</td>
      </tr>
</body>

</html>
